<h1>Listing command_details_produits</h1>

<table>
  <tr>
    <th>Id command</th>
    <th>Id service</th>
    <th>Quantite</th>
    <th>Prix</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @command_details_produits.each do |command_details_produit| %>
  <tr>
    <td><%= command_details_produit.id_command %></td>
    <td><%= command_details_produit.id_service %></td>
    <td><%= command_details_produit.quantite %></td>
    <td><%= command_details_produit.prix %></td>
    <td><%= link_to 'Show', command_details_produit %></td>
    <td><%= link_to 'Edit', edit_command_details_produit_path(command_details_produit) %></td>
    <td><%= link_to 'Destroy', command_details_produit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Command details produit', new_command_details_produit_path %>
