<p id="notice"><%= notice %></p>

<p>
  <b>Nom:</b>
  <%= @client.nom %>
</p>

<p>
  <b>Prenom:</b>
  <%= @client.prenom %>
</p>

<p>
  <b>Tel:</b>
  <%= @client.tel %>
</p>

<p>
  <b>Addr fact:</b>
  <%= @client.addr_fact %>
</p>

<p>
  <b>Adr livraison:</b>
  <%= @client.adr_livraison %>
</p>


<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
