<%= form_for(@command_details_service) do |f| %>
  <% if @command_details_service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@command_details_service.errors.count, "error") %> prohibited this command_details_service from being saved:</h2>

      <ul>
      <% @command_details_service.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id_command %><br />
    <%= f.text_field :id_command %>
  </div>
  <div class="field">
    <%= f.label :id_service %><br />
    <%= f.text_field :id_service %>
  </div>
  <div class="field">
    <%= f.label :quantite %><br />
    <%= f.number_field :quantite %>
  </div>
  <div class="field">
    <%= f.label :prix %><br />
    <%= f.text_field :prix %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
