<%= form_for(@command) do |f| %>
  <% if @command.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@command.errors.count, "error") %> prohibited this command from being saved:</h2>

      <ul>
      <% @command.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>




  <div class="field">
    <%= f.label :client_id %><br />
    <%= f.number_field :client_id %>
  </div>
  <div class="field">
    <%= f.label :dates_paiement %><br />
    <%= f.date_select :dates_paiement %>
  </div>
  <div class="field">
    <%= f.label :prix_ttc %><br />
    <%= f.text_field :prix_ttc %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
