<h1>Listing commands</h1>

<table>
  <tr>
    <th>Client</th>
    <th>Dates paiement</th>
    <th>Prix ttc</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @commands.each do |command| %>
  <tr>
    <td><%= command.client_id %></td>
    <td><%= command.dates_paiement %></td>
    <td><%= command.prix_ttc %></td>
    <td><%= link_to 'Show', command %></td>
    <td><%= link_to 'Edit', edit_command_path(command) %></td>
    <td><%= link_to 'Destroy', command, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Command', new_command_path %>
