<p id="notice"><%= notice %></p>

<p>
  <b>Id command:</b>
  <%= @command.id_command %>
</p>

<p>
  <b>Id client:</b>
  <%= @command.id_client %>
</p>

<p>
  <b>Datepaiement:</b>
  <%= @command.datePaiement %>
</p>

<p>
  <b>Pritttc:</b>
  <%= @command.pritTTC %>
</p>


<%= link_to 'Edit', edit_command_path(@command) %> |
<%= link_to 'Back', commands_path %>
