<p id="notice"><%= notice %></p>

<p>
  <b>Client:</b>
  <%= @command.client_id %>
</p>

<p>
  <b>Dates paiement:</b>
  <%= @command.dates_paiement %>
</p>

<p>
  <b>Prix ttc:</b>
  <%= @command.prix_ttc %>
</p>


<%= link_to 'Edit', edit_command_path(@command) %> |
<%= link_to 'Back', commands_path %>
