<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
  <title><%= @titre %></title>
  <div id="img"> <%= image_tag("logo.png", :id => "logo",width: '650') %></div>	
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  

						
										
<nav>
	<ul id="menu">
		<li><a href="/">NOTRE BIERE</a></li>
	 <li><a href="../page/leconcetp">Le Concept</a></li>
	 <li><a href="../page/nosmusique">Nos Musiques</a></li>
	 <li><a href="../page/lej9">Le J9</a></li>
	 <li><a href="../page/contact">Contact</a></li>
	</ul>
</nav>

</head>

<body>
	


<p>
<%= yield %>
</p>
</body>





<%= csrf_meta_tag %>

</html>
